<div class="container mt-3">
<h2> <%= days %></h2>
  <% @created = @vitamins %>
  <% if @created.empty? %>
    Did you take your vitamin today?
    <%= simple_form_for @vitamin do |f| %>
      <%= f.submit "Yes!" %>
    <% end %>
  <% else %>
    <% if days.first == Date.today %>
      <% @day = Date.today %>
      You already took your vitamin today!
    <% else %>
      Did you take your vitamin today?
      <%= simple_form_for @vitamin do |f| %>
        <%= f.submit "Yes!" %>
      <% end %>
    <% end %>
    <p>Vitamin streak record: <%= @vitamins.maximum(:record) %> </p>
      <p>set record: <%= set_record %> </p>
    <p>length: <%= length %></p>
  <% end %>
  <div class="calendar">
    <%= month_calendar do |date| %>
      <% if days.include?(date) %>
        <div class="blue"><%= date.day %></div>
      <% else %>
        <%= date.day %>
      <% end %>
    <% end %>
  </div>
</div>
