<div class="container mt-3">
<h2> <%= current_user.days %></h2>
  <% @created = @vitamins %>
  <% if @created.empty? %>
    Did you take your vitamin today?
    <%= simple_form_for @vitamin do |f| %>
      <%= f.submit "Yes!" %>
    <% end %>
  <% else %>
    <% if current_user.days.first == Date.today %>
      <% @day = Date.today %>
      You already took your vitamin today!
    <% else %>
      Did you take your vitamin today?
      <%= simple_form_for @vitamin do |f| %>
        <%= f.submit "Yes!" %>
      <% end %>
    <% end %>
    <p>Vitamin streak record: <%= current_user.vitamin_record %> </p>
      <p>Current streak: <%= current_user.consecutive_days %> </p>
    <% end %>
  <div class="calendar">
    <%= month_calendar do |date| %>
      <% if current_user.days.include?(date) %>
        <div class="blue"><%= date.day %></div>
      <% else %>
        <%= date.day %>
      <% end %>
    <% end %>
  </div>
</div>
