<div class="container">

  <% if @created.blank? %>
    Did you take your vitamin today?
    <%= simple_form_for @vitamin do |f| %>
      <%= f.date_field :date, value: Date.today  %>
      <%# <%Não aceita sem colocar a data, mesmo passando no controller%>
      <%= f.submit "Yes!" %>
      <% end %>
    <%# Streak = 0 %>


  <% else %>
    <% @created = @vitamins %>
    <% if @created.last.date.to_date == Date.today%>
      <% @day = Date.today %>
      You already took your vitamin today!

    <% else %>
      Did you take your vitamin today?
      <%= simple_form_for @vitamin do |f| %>
        <%= f.input :date, as: :date %>
        <%# <%Não aceita sem colocar a data, mesmo passando no controller%>
        <%= f.submit "Yes!" %>
      <% end %>
      <% @day = Date.today - 1 %>
    <% end %>
    <% @streak = 0 %>
    <% @created = @created.to_a %>
    <% while (@created.pop().date.to_date == @day) do %>
      <% @streak += 1%>
      <% @day = @day - 1%>
      <% break if @created.empty? %>
    <% end %>
    <p>Vitamin streak: <%= @streak %></p>


  <% end %>
  <% @taken = [] %>
  <% @vitamins.each do |vitamin|%>
    <% @taken << vitamin.date %>
  <% end %>
  <div class="calendar">
    <%= month_calendar do |date| %>
      <% if @taken.include?(date) %>
        <div class="blue"><%= date.day %></div>
      <% else %>
        <%= date.day %>
      <% end %>
    <% end %>
  </div>
