<%= provide :title, "Prescription Details" %>
<div class="container d-flex justify-content-center" style="margin-top: 80px">
  <div class="card d-flex justify-content-center align-items-center green-shadow-l rounded-l p-3">
    <h1 class="card-title card-prescription-style"><strong><%= @prescription.title %></strong></h1>
    <%= cl_image_tag @prescription.photo.key,  width: 400, crop: :fit %>
    <h4 class="col mt-2">
      <%= link_to "", edit_prescription_path(@prescription), class: "fa-solid fa-pen-to-square details-icon edit-prescription-icon" %>
      <%= link_to "",
        prescription_path(@prescription),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash trash-icon"
      %>
    </h4>
  </div>
</div>
