<ul>
  <% @recipes.each do |recipe|%>
    <div class="card">
      <div class="card-title">Recipe name: <%= recipe.title %></div>
      <span>Description: <%= recipe.description %></span>
      <span>Prep time: <%= recipe.prep_time %> min</span>
      <span><%= recipe.calories %> calories</span>
      <%= link_to "See Details", recipe_path(recipe) %>
    </div>
  <% end %>
</ul>
