<div class="container">

  <div class="container"> <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a recipe"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <%= link_to "Clear", recipes_path, class: "btn btn-secondary" %>
  <% end %>

  <div class="recipes-grid">
    <% @recipes.each do |recipe|%>
      <div class="card-product recipe-width">
        <img src="https://source.unsplash.com/random/300×150/?<%= recipe.title.gsub(" ","-")%>" />
        <div class="card-product-infos">
          <h2><%= recipe.title %></h2>
          <span><%= recipe.prep_time %> min</span>
          <span><%= recipe.calories %> kcal</span>
          <%= link_to "See Details", recipe_path(recipe) %>
        </div>
      </div>
    <% end %>
  </div>

</div>
