<div class="container">

  <div class="mb-3 mt-2">
    <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control  recipes-search",
        placeholder: "Find a recipe"
      %>
      <%= submit_tag "Search", class: "btn btn-recipe-dark-green mx-2 " %>
      <%= link_to "Clear", recipes_path, class: "btn btn-recipe-light-green " %>
    <% end %>
  </div>

  <div class="recipes-grid">
    <% @recipes.each do |recipe|%>
      <div class="card-recipe recipe-width rounded">
        <img src="https://source.unsplash.com/random/300×150/?<%= recipe.title.gsub(" ","-")%>">
        <div class="card-recipe-infos">
          <h2><%= recipe.title %></h2>
          <p>Prep time: <%= recipe.prep_time %> min</p>
          <p>Calories: <%= recipe.calories %> kcal</p>
          <%= link_to "See Details", recipe_path(recipe), class:"btn-light-gray-sm rounded" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
