<div class="container">

  <div class="mb-3 mt-2">
    <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control  recipes-search",
        placeholder: "Find a recipe"
      %>
      <%= submit_tag "Search", class: "btn btn-recipe-dark-green mx-2 " %>
      <%= link_to "Clear", recipes_path, class: "btn btn-recipe-light-green " %>
    <% end %>
  </div>

  <div class="recipes-grid">
    <% @recipes.each do |recipe|%>
      <% recipe = recipe["recipe"]%>
      <div class="card-recipe recipe-width rounded-l">
        <img src=<%= recipe["image"]%>>
        <div class="card-recipe-infos">
          <h2 class="recipe-h2"><%= recipe["label"] %></h2>
          <p>Prep time: <%= number_with_precision(recipe["totalTime"], precision: 0) %> min</p>
          <p>Calories:
            <% if recipe["calories"] > 4000 %>
              <%= number_with_precision((recipe["calories"] / 6 ), precision: 0) %>
            <% elsif recipe["calories"] > 3000 %>
              <%= number_with_precision((recipe["calories"] / 4 ), precision: 0) %>
            <% elsif recipe["calories"] > 2000 %>
              <%= number_with_precision((recipe["calories"] / 3 ), precision: 0)  %>
            <% elsif recipe["calories"] > 1000 %>
              <%= number_with_precision((recipe["calories"] / 2 ), precision: 0) %>
            <% else %>
              <%= number_with_precision(recipe["calories"], precision: 0) %>
            <% end %>
          kcal</p>
          <% recipe_id = recipe["uri"].scan(/(?<=_).*/)%>
          <%= link_to "See Details", recipe_path(recipe_id), class:"btn-light-grey-sm rounded"%>
        </div>
      </div>
    <% end %>
  </div>>
