<div class="container-fluid sticky-top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon nav-bari">
    <div class="container-fluid">
      <div class="navbar-brand">
        <% if user_signed_in? && current_user&.avatar&.attached? %>
          <%= cl_image_tag current_user.avatar.key, transformation: [{gravity: "face", height: 400, width: 400, crop: "thumb"}], class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "user.png" %>
        <% end%>
      </div>
      <h1 class="font-dark-green">GPS da Bari</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa-solid fa-bars icon-dark-green"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto dropdown-color text-center">
          <% if user_signed_in? %>
            <li class="nav-item active icon-dark-green
            ">
              <%= link_to "Home", dashboards_path, class: "nav-link  icon-dark-green" %>
            </li>
            <li class="nav-item">
              <%= link_to "Messages", "#", class: "nav-link  icon-dark-green" %>
            </li>
            <li class="nav-item">
              <%= link_to "Edit my profile", edit_user_registration_path, class: "nav-link  icon-dark-green"%>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link  icon-dark-green"%>
            </li>
          <% else %>
            <li class="nav-item">
              <li><%= link_to "Sign Up", new_user_registration_path, class: "nav-link icon-dark-green" %></li>
              <li><%= link_to "Login", new_user_session_path, class: "nav-link icon-dark-green" %></li>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
