<div class="container-fluid sticky-top">
  <div class="navbar navbar-expand-lg navbar-light navbar-lewagon nav-bari">
    <%# <div class="container-fluid"> %>
      <div class="navbar-brand one-fourth align-left">
        <% if user_signed_in? && current_user&.avatar&.attached? %>
          <%= cl_image_tag current_user.avatar.key, transformation: [{gravity: "face", height: 400, width: 400, crop: "thumb"}], class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "user.png" %>
        <% end%>
      </div>
      <h1 class="font-dark-green two-fourths align-left"><%= yield :title %></h1>
      <div class="navbar-toggler one-fourth align-right" >
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  style="background-color: transparent; border: 0px;">
          <span class="fa-solid fa-bars"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse one-fourth " id="navbarSupportedContent" style="width: fit-content;">
        <ul class="navbar-nav me-auto dropdown-color text-center align-right">
          <% if user_signed_in? %>
            <li class="nav-item active icon-dark-green">
              <%= link_to "Home", dashboards_path, class: "nav-link  icon-dark-green" %>
            </li>
            <li class="nav-item">
              <%= link_to "Edit my profile", edit_user_registration_path, class: "nav-link  icon-dark-green"%>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link  icon-dark-green"%>
            </li>
          <% else %>
            <li class="nav-item">
              <li><%= link_to "Sign Up", new_user_registration_path, class: "nav-link icon-dark-green" %></li>
              <li><%= link_to "Login", new_user_session_path, class: "nav-link icon-dark-green" %></li>
            </li>
          <% end %>
        </ul>
      </div>
    <%# </div> %>
  </div>
</div>
