<h1>GPS da Bari</h1>
<%= link_to "recipes", recipes_path %>
<%= link_to "body_fat", body_fats_path %>
<%= link_to "goals", goals_path %>
<%= link_to "prescriptions", prescriptions_path %>
<%= link_to "vitamins", vitamins_path %>
<%= link_to "weights", weights_path %>


