<div class="container d-flex flex-column align-items-center">
  <div class="d-flex flex-column align-items-center mb-4">
    <div id="progress-circle" class="progress-circle mt-4 mb-2">
      <p class="progress-circle__text label"><%= @weights.last.nil? ? current_user.weight_before_surgery.to_i : @weights.last.value %> kg</p>
    </div>
    <span>My Weight</span>
  </div>
  <div class="green-shadow-l rounded w-100">
    <div class="d-flex fs-normal p-3 mb-3">
      <div class="mx-3" style="text-align: center;">
        <span class="mb-0">
          <%= current_user.weight_before_surgery %>
        </span><br>
        <span class="secondary-text mt-0">INITIAL</span>
      </div>
      <div class="mx-4" style="text-align: center;">
        <span class="mb-0">
          <%= @weights.last.nil? ? "-" : @weights.last.value %>
        </span><br>
        <span class="secondary-text mt-0">CURRENT</span>
      </div>
      <div class="mx-3" style="text-align: center;">
        <span class="mb-0">
          <%= current_user.target_weight %>
        </span><br>
        <span class="secondary-text mt-0">TARGET</span>
      </div>
      <%= link_to "My Weight", weights_path, class:"btn-green p-2"  %>
    </div>
  </div>
  <div class="green-shadow-l px-3 p-3 rounded mt-3 mb-5 w-100" style="text-align: center">
    <p class="fw-semibold">Vitamin Intake</p>
    <p>Your vitamin streak record is: <%= current_user.vitamin_record %> </p>
    <p>Your current streak is: <%= current_user.consecutive_days %> </p>
    <%= link_to "Vitamins", vitamins_path, class:"btn-green p-2" %>
  </div>
  <div class="green-shadow-l px-3 p-3 rounded mb-5 w-100" style="text-align: center">
    <%= link_to "My Prescriptions", prescriptions_path, class:"btn-green p-2" %>
  </div>
  <div class="green-shadow-l px-3 p-3 rounded mb-5 w-100" style="text-align: center">
    Achieved goals: <%= @done_goals.count%>
    Open goals: <%= @open_goals.count %>

    <%= link_to "see my goals", my_goals_path, class:"btn-green" %>
  </div>

  <div class="green-shadow-l px-3 rounded mb-5">
    <% if @body_fats.present? %>
      Body_fat: <%= @body_fats.last.value %>%
    <% end %>
      <%= link_to "see my Body Fat", body_fats_path, class:"btn-green" %>
  </div>
  <div class="green-shadow-l px-3 rounded mb-5 w-100">
    <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control  recipes-search",
          placeholder: "Find a recipe"
        %>
      <%= submit_tag "Find recipes", class: "btn-green mx-2 " %>
    <% end %>
  </div>
</div>
<script>
  document.getElementById("progress-circle").style.background = `radial-gradient(white 50%, transparent 51%),
  conic-gradient(transparent 0deg ${<%= current_user.progress_value * 3.6 %>}deg, gainsboro ${<%= current_user.progress_value * 3.6 %>}deg 360deg),
  conic-gradient(green 0deg, green 90deg, lightgreen 180deg, green)`;
</script>

<%# <div class="green-shadow-l px-3 rounded mb-5 w-100"> %>
<%# <% if @body_fats.present? %>
<%# Body_fat: <%= @body_fats.last.value %>
<%# Adicionar link para ADD body fat igual a weight %>
<%# <%= link_to "see my body_fat", body_fats_path, class:"btn-green" %>
<%# <% else %>
<%# Adicionar link para ADD body fat igual a weight %>
<%# <% end %>
<%# </div> %>
